@import url("default.css");

span.caption-text {
    font-size: 18pt;
}

h1 {
    font-size: 36px;
    color: black;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 22px;
}

h4 {
    font-size: 20px;
}

body {
    font-family: "Times", Helvetica, sans-serif;
    font-size: 14pt;
    color: black;
    font-weight: normal;
}

a {
    color: dodgerblue;
    text-decoration: none;
}

p {
    font-size: 18px;
    text-decoration: none;
}

.navbar-brand {
    font-size: 16pt;
    display: flex;
    justify-content: center;
}

.navbar {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem;
    font-size: 14pt;
}

.line-block {
    display: block;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}